@import "../../css/ComponentBorder.scss";
@import "../../css/FontAndColor.scss";
@import "../../css/Flex.scss";

.small-calendar-container {
  @include flex-div(column);
  align-items: center;
  margin-left: auto;
}
.small-calendar {
  @include border-style(0px);
}
.highlight {
  color: $theme-color-5;
}
