@import "css/ComponentBorder.scss";
@import "css/FontAndColor.scss";
@import "css/Flex.scss";

.small-calendar-container {
  @include flex-div(column);
  align-items: center;
  margin-left: auto;
}
.small-calendar {
  @include border-style(0px);
}
// .highlight {
//   color: $theme-color-5;
// }
// .reg_start .test_start {
//   color: #03fcdf !important;
//   //   color: $theme-color-5;
// }
// .reg_end .test_end {
//   color: $theme-color-3 !important;
// }
// .result {
//   color: $theme-color-2 !important;
// }
.inside-pop-up {
  @include flex-div-align(column, center);
}
.inside-pop-up-info {
  div {
    margin: 2rem;
  }
}
