@import "../../css/Flex.scss";
@import "../../css/FontAndColor.scss";
@import "../../css/ComponentBorder.scss";
@import url("https://fonts.googleapis.com/css2?family=Amaranth&family=Nanum+Gothic:wght@700&display=swap");

html {
  height: 100%;
  font-family: "Amaranth", "Nanum Gothic", sans-serif;
}
body {
  background: no-repeat;
  background-color: $theme-color-1;
  background-image: url("images/bgimage.png");
  background-size: 70vw;
  background-position: center;
  height: 100%;
}
a {
  text-decoration: none;
  color: $a-color;
}
ul {
  list-style: none;
  padding-left: 0;
}
.app-container {
  width: 100%;
  @include flex-div(column);
}
.mypage-container {
  @include flex-div-align(column, flex-start);
  width: 90vw;
  height: 100vh;
  margin: auto;
  background-color: $theme-color-1;
}
.mypage-container-upper {
  @include flex-div-align(row, flex-start);
  margin: 5vh auto;
  width: 80%;
}
.mypage-container-downer {
  @include flex-div-align-justify(row, flex-end, flex-start);
  margin: 5vh auto;
  width: 90%;
}
.certificate-detail-container {
  @include flex-div-align(column, center);
  width: 90vw;
  height: 100vh;
  margin: auto;
  background-color: $theme-color-1;
}
.signup-container {
  @include flex-div-align(column, center);
  width: 90vw;
  height: 100vh;
  margin: auto;
  background-color: $theme-color-1;
  h1 {
    color: $theme-color-5;
  }
  .signup-inner-container {
    @include flex-div-align(column, center);
  }
}
.certificate-detail-name-like {
  margin-top: 10vh;
  @include flex-div-align-justify(row, center, center);
  span {
    margin: 5vh 1vw;
    font-size: 2rem;
    color: $theme-color-4;
  }
  svg {
    margin: 5vh 1vw;
    font-size: 2rem;
    color: $theme-color-5;
    &:hover {
      cursor: pointer;
    }
  }
}
.certificate-details {
  color: $theme-color-3;
}
.certificate-values {
  color: $theme-color-4;
}
.certificate-detail-inner-container {
  @include border-style(0px);
  //   width: 80%;
  //   height: 30%;
  //   margin: auto;
  //   background-color: $theme-color-2;
}
.pop-certs {
  @include flex-div-justify(row, space-between);
  width: 70%;
  margin: auto;
}
