@import "../../css/ComponentBorder.scss";
@import "../../css/Flex.scss";
@import "../../css/FontAndColor.scss";
@import url("https://fonts.googleapis.com/css2?family=Amaranth&family=Nanum+Gothic:wght@700&display=swap");

.todo-certificate-container {
  width: 40vw;
  margin-left: auto;
  @include flex-div-justify(column, center);
  .todo-certificate-inner-container {
    @include border-style(0px);
    width: 80%;
    background-color: $theme-color-2;
    font-size: 1.2rem;
    margin: auto;
    padding: 1rem 0.5rem;
  }
  .todo-title {
    font-size: 1.5rem;
    color: $theme-color-5;
    margin-left: calc(40vw - 90%);
  }
}

.todo-certificate-list {
  @include flex-div-align(row, center);
  .todo-checkbox {
    color: $theme-color-1;
  }
}
.todo-certificate-todo-text {
  div {
    @include border-style(0px);
    justify-content: flex-start;
    background-color: $theme-color-1;
    color: $theme-color-3;
    //   text-align: center;
    width: calc(25vw - 10%);
    margin: 1vh auto;
    padding-left: 2vw;
    font-family: "Amaranth", "Nanum Gothic", sans-serif;
    font-size: 1.1rem;
  }
}
