@import "../../css/FontAndColor.scss";
@import "../../css/Flex.scss";
.searchform-container {
  width: 40vw;
  margin-top: 6vh;
  margin: auto;
  @include flex-div(column);
  ul {
    width: 27.5vw;
    @include flex-div(column);
    margin: 1vh auto;
    justify-content: center;
    background-color: white;
    border-radius: 0.6rem;
  }
}
.searchform-paper {
  background-color: $theme-color-1;
  width: 30vw;
  &:focus {
    width: 50vw;
    transition-duration: 0.2s;
  }
}
