@import "../../css/FontAndColor.scss";
@import "../../css/Flex.scss";
.searchform-container {
  width: 40vw;
  margin-top: 6vh;
  margin: auto;
  @include flex-div-justify(column, center);
  ul {
    @include flex-div(column);
    width: 50vw;
    margin: 1vh auto;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.6rem;
  }
  li {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin: 0.2em;
    &:hover {
      background-color: $theme-color-1;
    }
  }
}
.searchform-paper {
  background-color: $theme-color-1;
  width: 45vw;
  &:focus {
    width: 50vw;
    transition-duration: 0.2s;
  }
}
