@import "../../css/Flex.scss";
@import "../../css/FontAndColor.scss";

.header-container {
  a {
    font-size: 1.5rem;
    color: $theme-color-5;
    &:hover {
      color: $theme-color-4;
    }
    margin: 0.7rem;
  }
  @include flex-div(row);
  width: 90vw;
  justify-content: flex-end;
  margin: 2vh auto;
}
.app-title {
  margin-right: auto;
  a {
    font-size: 3rem;
    color: $theme-color-5;
  }
  a:hover {
    font-size: 3rem;
    color: $theme-color-5;
  }
}
