@import "css/Flex.scss";
@import "css/FontAndColor.scss";
.toolbar-container {
  @include flex-div(row);
}
.label-today {
  @include flex-div(column);
  align-items: center;
}
.back-next-icons {
  @include flex-div(row);
}
.arrow-icons {
  font-size: 2rem !important;
  color: $theme-color-3;
  &:hover {
    opacity: 0.5 !important;
  }
}
.today-span {
  color: $theme-color-3;
  &:hover {
    opacity: 0.5 !important;
  }
}
.dmy-btns {
  color: $theme-color-3;
  margin-left: auto;
  justify-content: flex-end;
}
.rbc-btn-group {
  span {
    margin: 0.4rem;
  }
  span:hover {
    opacity: 0.5;
  }
}
.month-year-label {
  font-size: 1.2rem;
  color: $theme-color-5;
}
