@import "./FontAndColor.scss";
@import "./Flex.scss";
.auth-container {
  a {
    text-decoration: none;
    color: $a-color;
    span {
      font-size: $a-size;

      &:hover {
        font-size: $a-hover-font-size;
        transition-duration: 0.1s;
      }
    }
  }
  @include flex-div(row);
}
