@mixin flex-div($direction) {
  display: flex;
  flex-direction: $direction;
}
@mixin flex-div-align-justify($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin flex-div-align($direction, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
}
@mixin flex-div-justify($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}
