@mixin flex-div($direction, $justify, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin flex-div-align($direction, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
}
@mixin flex-div-justify($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}
