@import "./FontAndColor.scss";
.searchform-container {
  margin-top: 6vh;
}
.searchform-paper {
  background-color: $theme-color-1;
  width: 40vw;
  &:focus {
    width: 50vw;
    transition-duration: 0.2s;
  }
}
