@import "../../css/ComponentBorder.scss";
@import "../../css/Flex.scss";
@import "../../css/FontAndColor.scss";

.favorite-certificate-container {
  width: 40vw;
  justify-content: flex-start;
  .favorite-certificate-inner-container {
    @include border-style(0px);
    width: 80%;
    background-color: $theme-color-3;
    font-size: 1.2rem;
    margin: auto;
    padding: 1rem 0.5rem;
  }
}

.favorite-certificate-list {
  @include flex-div(column);
  @include border-style(0px);
  background-color: $theme-color-2;
  width: 95%;
  margin: 1vh auto;
}
